@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
// font-family: 'Poppins', sans-serif;

$white: rgb(248, 249, 250);
$black: rgb(33, 37, 41);
$grey: rgba($white, 0.55);
$lighter-black: rgb(57, 64, 71);

@mixin poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

@mixin poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

nav {
  @include poppins;
  .navbar-brand {
    font-weight: 500;
  }
}

.home-page-content {
  h1 {
    @include poppins-medium;
    font-size: 3rem;
    margin-bottom: 24px;
    text-align: left;
  }
  img {
    border-radius: 50%;
  }
  p {
    @include poppins;
    font-size: 1.5rem;
    padding: 24px 0 0 0;
    a {
      color: $white;
      transition: color 100ms ease-in;
      &:hover {
        color: $grey;
      }
    }
  }
}
.projects-page-content {
  h1 {
    @include poppins-medium;
    font-size: 3rem;
  }
  .card {
    background: $lighter-black;
    @include poppins;
  }
  .card-title {
    @include poppins-medium;
  }
}
.contact-form {
  @include poppins;

  h1,
  label,
  p {
    color: white;
  }
  a {
    color: $white;
    transition: color 100ms ease-in;
    &:hover {
      color: $grey;
    }
  }
}
@media (min-width: 992px) {
  .home-page-content {
    h1 {
      font-size: 5rem;
    }
    p {
      font-size: 3rem;
      padding: 48px 0 0 0;
    }
  }
  .projects-page-content {
    h1 {
      font-size: 5rem;
    }
  }
}

.fa-js {
  color: #f7df1e;
}
.fa-css3-alt {
  color: #0d73b7;
}
.fa-html5 {
  color: #e44d26;
}
